/*! */
.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 12px;
}

.leaflet-fade-anim .leaflet-map-pane .leaflet-popup{
  opacity: 1;
  transform: translate3d(377px, 270px, 0px);
  bottom: -7px;
  left: -48px;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip{
  background: white;
  color: #333;
  padding: 1px;
  display: block;
}
.leaflet-popup-content {
  margin: 1px 1px 1px 1px;
  line-height: 1.3;
  font-size: 1.08333em;
  min-height: 1px;
}
/* ! */
/* Remove all padding and margin from the popup wrapper */
.leaflet-popup-content-wrapper {
  padding: 0;
  margin: 0;
  box-shadow: none;
  background-color: transparent;
}

.popup-flag {
  display: block;
  width: 30px; /* Adjust size as needed */
  height: 30px;
  object-fit: cover; /* Ensure the image covers the container */
  border-radius: 50%; /* Fully rounded */
  margin: 0;
  padding: 0;
}

.popup-image{
    /* border: 2px solid #fff; */
    width: 50px;
}
 
.leaflet-left { 
  left: 92%;
}







